.about-grid {
  display: grid;
  /* grid-template-columns: auto 1fr; */
  /* grid is divided in two columns */
  gap: 2rem;
  max-width: 1200px;
  align-items: center;
}

.about-section {
  border-radius: 10px;
  font-size: 16px;
}

.about-me-header {
  font-size: 35px;
  font-style: italic;
  font-weight: 400;
}

.about-image-wrapper {
  display: flex;
  justify-content: center;
}

.image-style {
  width: 361px;
  object-fit: cover;
  margin-right: 5rem;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .about-grid {
    grid-template-columns: 1fr;
    /* On smaller screens content gets stacked */
    grid-template-rows: auto;
  }

  .about-text {
    text-align: left;
  }
}