.about-grid {
  display: grid;
  /* grid-template-columns: auto 1fr; */
  /* grid is divided in two columns */
  gap: 2rem;
  max-width: 1200px;
  align-items: center;
}

.about-section {
  border-radius: 10px;
  font-size: 16px;
}

.about-me-header {
    font-size: 25px;
    font-weight: 300;
    padding-top:10px;
}

.about-image-wrapper {
  display: flex;
  justify-content: center;
}

.image-style {
  width: 361px;
  object-fit: cover;
  border-radius: 10px;
}
.about-me-headline{
  font-size:18px;
  font-weight:400;
}
.about-me-details{
  font-weight: 300;
  font-size: 17px;
}

@media (max-width: 768px) {
  .about-grid {
    grid-template-columns: 1fr;
    /* On smaller screens content gets stacked */
    grid-template-rows: auto;
  }

  .about-text {
    text-align: left;
  }
}