.launch-arrow-resume {
  height: 20px;
  width: 20px;
  float: right;
  margin-top: 10px;
  cursor: pointer;
}

.launch-arrow-dark {
  fill: #B8AE88;
}
.launch-arrow-light {
  fill: #000;
}
.experience-sub-heading{
  font-size: 17px;
}
.experience-data{
  font-size: 16px;
  padding: 5px;
}
.experience-data-heading{
  text-decoration: underline;
  padding-bottom: 10px;
}
.experience-data-list{
  margin-left: 10px !important;
  list-style: inside;
}
.experience-data-list-heading:hover{
    color:#4C4B7B;
}
.professional-experience{
    height: 400px;
    overflow-y: scroll;
}