.footerNote {
  font-size: 13px;
  padding: 10px 20px;
}

.footerTech {
  text-decoration: underline;
}

.footerTech:hover {
  color: #4C4B7B;
}

.footerNav {
  display: flex;
  justify-content: flex-end;
}