.latest-project-section{
  color: black;
  border-radius: 10px;
  font-size: 16px;
}
.latest-project-title{
  font-size: 25px;
}
.launch-arrow{
  height:20px;
  width:20px;
  float: right;
  margin-top: 10px;
  cursor: pointer;
}