@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom fonts and styles can go here */
.body-div-dark{
    background-color: rgb(77, 74, 60);
    color: rgb(184, 174, 136);
    width: 100%;
    padding: 20px;
}
.body-div-light{
    background-color:#fff;
    color:#000;
    width: 100%;
    padding: 20px;
}